*.o
*.exe
*.sw*
*~
.deps
.dirstamp
INSTALL
libtool
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
compile
Makefile
!win32/config.h
config.h
config.log
config.status
package_version
stamp-h1
opusenc
opusdec
opusinfo
opusrtp
*.vcxproj.user
opus-tools.sdf
opus-tools.suo
