INSTALL
libtool
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
compile
Makefile
config.h
config.log
config.status
src/info_opus.o
src/opusinfo.o
src/audio-in.o
src/diag_range.o
src/opus_header.o
src/opusdec.o
src/opusenc.o
src/resample.o
src/wav_io.o
src/wave_out.o
src/.deps/
src/.dirstamp
stamp-h1
opusenc
opusdec
opusinfo
opusenc.exe
opusdec.exe
opusinfo.exe
