language: c

# We need at least Ubuntu 14.04 for the libopus dependency.
dist: trusty

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - libogg-dev
      - libopus-dev
      - libflac-dev

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install libogg opus flac xz; fi

script:
  - ./autogen.sh
  - ./configure
  - make
  - make distcheck
